html, body {
    font-family: 'Rubik', sans-serif;
    background-color: #EEF0F4;
}
  

#fixed-menu {
    position: fixed;
    top: 0;
    left: 0;  
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: #0A1F46;
    width: 100%;
    color: #EEF0F4;
}
  

h1 {
    text-align: center;
} 


#button-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}


#spacer {
    width: 100%;
    height: 175px;
}

  
#card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 0.25em;
}


.card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #00BFB2;
    color: #0A1F46;
    border-radius: 6px;
    width: 280px;
    height: 160px;
    text-align: center;
}
  

.card h2 {
    padding: 0;
    margin: 0;
}


.card p {
    font-size: 20px;
    padding-top: 1em;
    margin: 0;
}
  

button {
    width: 160px;
    padding: 10px;
    font-size: 15px;
    margin: 0 5px;
    margin-bottom: 1em;
}
  

@media screen  and (max-device-width: 480px) and (orientation: portrait) { 
    #card-container { 
        margin-top: 1.4em; 
        gap: 1em; }
}
  